body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
  padding-top: 50px;
}

input {
  padding: 8px;
  width: 200px;
}

button {
  padding: 8px 12px;
}

li {
  list-style: none;
  background: white;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
  display: flex;
  justify-content: space-between;
}
